.form-control {
  font-size: x-small;
}

.form-label {
  font-size: large;
  padding-bottom: 12%;
}

.form-label-1 {
  font-size: large;
  padding-bottom: 5%;
}

.container {
  margin-top: 5%;
}
.btn {
  width: 20%;
  height: 15;
}
